* {
    padding: 0;
    margin: 0;
}

/* Nav Bar Styles */


.nav-bar {
    padding: 10px;
    background-color: gainsboro;
    width: 50%;
    height: 45px;
    position: relative;
    left: 300px;
}

.nav-bar h1 {
    position: relative;
    top: 5px;
    left: 25px;
}

.nav-bar form {
    position: relative;
    left: 350px;
    bottom: 20px;
}

.login {
    position: relative;
    right: -650px;
    top: -40px;
}


/* Dictionary Entry Styles */

.entry {
    border: 2px solid black;
    width: 30%;
    height: 120px;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 290px;
    top: 14px;
}

.def-entry {
    border: 2px solid black;
    width: 16.5%;
    margin: 10px;
    padding: 10px;
    position: relative;
    right: -800px;
    bottom: 294px;
    height: 95px;
}

.definition {
    text-align: right;
}